<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap\bootstrap3\js\bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/rightmenu/css/font-awesome.css">
    <!-- Other plugins stylesheets for this demo page, unrelated to BootstrapMenu -->
    <link rel="stylesheet" href="/static/bootstrap/rightmenu/css/toastr.css">
    <link rel="stylesheet" href="/static/bootstrap/rightmenu/css/highlight-8.6.default.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/rightmenu/css/default.css">

    <script src="/static/bootstrap/rightmenu/js/BootstrapMenu.min.js"></script>

    <link rel="stylesheet" href="/static/bootstrap/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="/static/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/bootstrap/bootstrap-bootbox/bootbox.js"></script>

    <!-- Other plugins used in this demo page -->
    <script src="/static/bootstrap/rightmenu/js/toastr.js"></script>
    <script src="/static/bootstrap/rightmenu/js/highlight-8.6.default.min.js"></script>
</head>
<body>
<!--<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/product/toAdd" th:href="@{/product/toAdd}" class="btn btn-info">新增</a>
    </div>
</div>-->
<div id="toolcar">
    <form class="form-inline">
<button type="button" class="btn btn-primary" onclick="saveCar()">新增</button>
<!--<button type="button" class="btn btn-info" onclick="saveCarmoddle()">新增商品</button>-->
    </form>

</div>
<table id="table"></table>
<script th:inline="javascript">

    //新增必备
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //新增
    function saveCar(){
        bootbox.dialog({
            size:"big",

            title:"",
            message:createAddContent("/product/toAdd"),
            closeButton:true,
            //className:'add-dialog',
            buttons:{
                'success':{
                    "label" : "<i class='icon-ok'></i>保存 ",
                    "className":"btn-sm btn-success",
                    "callback":function(){
                        $.ajax({
                            url:"/product/tomiddle",
                            type:"post",
                            data:$("#addCarForm").serialize(),
                            datatype:"json",
                            success:function(data){
                                $('#table').bootstrapTable('refresh');
                            }
                        })
                    }
                },
                'cancel':{
                    "label":"<i class='icon-info'></i>取消",
                    "className":"btn-sm btn-danger",
                    "callback":function(){

                    }
                }
            }
        })
    }

    function openCarEdit(pid){
        bootbox.dialog({
            size:"big",
            title:"",
            message:createAddContent("/product/toupdateedit"),
            closeButton:true,
            //className:'add-dialog',
            buttons:{
                'success':{
                    "label" : "<i class='icon-ok'></i>保存 ",
                    "className":"btn-sm btn-success",
                    "callback":function(){
                        $.ajax({
                            url:"/product/edit",
                            type:"post",
                            data:$("#editCarForm").serialize(),
                            datatype:"json",
                            success:function(data){
                                $('#table').bootstrapTable('refresh');
                            }
                        })
                    }
                },
                'cancel':{
                    "label":"<i class='icon-info'></i>取消",
                    "className":"btn-sm btn-danger",
                    "callback":function(){

                    }
                }
            }
        })
        //回显数据
        $.ajax({
            url:'/product/queryproductOrderById?pid='+pid,
            type:'post',
            data:{
                pid:pid
            },
            dataType:'json',
            success:function(data){

                $('#editId').val(data.pid);
                $('#editName').val(data.pname);
                $('#carType').val(data.bid);
                $('#fenType').val(data.tid);
                $('#editPrice').val(data.pid);

            }
        })
    }
    $(function(){
        initTable();

    })
    function initTable(){
        $('#table').bootstrapTable({
            url:'/product/findAllProduct',
            pagination:true, //是否展示分页
            pageList:[1, 2, 5, 10],//分页组件
            pageNumber:1,
            pageSize:2,//默认每页条数
            search:true,//是否显示搜索框
            searchText:'',//初始化搜索文字
            showColumns:true,//是否显示 内容列下拉框
            showToggle:true,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:true,//是否显示 数据条数选择框
            showRefresh:true,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'client',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
                columns:[
            {field:'333',checkbox:true},
            {field:'pid',title:'编号'},
            {field:'pname',title:'名称'},
            {field:'bname',title:'品牌'},
            {field:'text',title:'分类'},
            {field:'pstatus',title:'状态',formatter:function(value,row,index){
                    return  value==1?"上架":"下架"
                }},
            {field:'11',title:'操作',formatter:function(value,row,index){
                    return '<a  href="javascript:openCarEdit('+row.pid+');">修改商品</a>||<a  href="javascript:void(0);" onclick=saveproductta('+row.pid+',"'+row.pname+'")>添加商品</a>||<a  href="javascript:deleteUserById('+row.pid+');">删除</a>';
                }}

            ]
        })

}
//添加商品
    function saveproductta(pid,pname) {
        /*console.log(pid);
        console.log(pname);*/
        bootbox.dialog({
            size: "big",
            title: "",
            message: createAddContent("/product/toupdate?pid="+pid+"&pname="+pname),
            closeButton: true,
            //className:'add-dialog',
            buttons: {
                'success': {
                    "label": "<i class='icon-ok'></i>保存 ",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: "/product/tomiddle",
                            type: "post",
                            data: $("#editGoodsForm").serialize(),
                            datatype: "json",
                            success: function (data) {

                                $('#table').bootstrapTable('refresh');
                            }
                        })
                    }
                },
                'cancel': {
                    "label": "<i class='icon-info'></i>取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }
        })
    }


    //删除
    function deleteUserById(pid){
        $.ajax({
            url:'/product/deleteProduct',
            type:'post',
            data:{"pid":pid},
            success:function(){
                alert("删除成功！");
                $("#table").bootstrapTable("refresh"); //重新载入当前页面数据
            },
            error:function(){
                alert("删除失败");
            }
        })
    }


    //新增必备
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    //新增
    function saveCarmoddle(){
        bootbox.dialog({
            size:"big",

            title:"添加用户",
            message:createAddContent("/product/toindxcenter"),
            closeButton:true,
            //className:'add-dialog',
            buttons:{
                'success':{
                    "label" : "<i class='icon-ok'></i>保存 ",
                    "className":"btn-sm btn-success",
                    "callback":function(){
                        $.ajax({
                            url:"/product/tomiddle",
                            type:"post",
                            data:$("#addCarFormmoddle").serialize(),
                            datatype:"json",
                            success:function(data){
                                $('#table').bootstrapTable('refresh');
                            }
                        })
                    }
                },
                'cancel':{
                    "label":"<i class='icon-info'></i>取消",
                    "className":"btn-sm btn-danger",
                    "callback":function(){

                    }
                }
            }
        })
    }

</script>

</body>
</html>