<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css"/>
</head>
<body>
<form class="form-inline" method="post" th:action="@{/user/findAllUserb}">
    <div class="form-group">
        <label for="userName1">用户名</label>
        <input type="text" class="form-control" id="userName1" placeholder="请输入用户名" name="name">
    </div>
    <div class="form-group">
        <button type="submit" onclick="searchUser()" class="btn btn-info glyphicon glyphicon-search">搜索</button>
        <button type="button" onclick="openAddDialog()" class="btn btn-info glyphicon glyphicon-plus">新增</button>
        <button type="button" onclick="delUser()" class="btn btn-danger glyphicon glyphicon-minus">删除</button>
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/addUser}" method="post">
                <div class="form-group">
                    <input name="id" type="hidden" />
                    <label for="txt_departmentname">登录名称</label>
                    <input type="text" name="loginName" class="form-control" id="txt_departmentname" placeholder="登录名称">
                </div>
                <div class="form-group">
                    <label for="txt_parentdepartment">用户名称</label>
                    <input type="text" name="name" class="form-control" id="txt_parentdepartment" placeholder="用户名称">
                </div>
                <div class="form-group">
                    <label for="txt_departmentlevel">密码</label>
                    <input type="password" name="password" class="form-control" id="txt_departmentlevel" placeholder="密码">
                </div>
                <div class="form-group">
                    <label for="txt_statu">手机号码</label>
                    <input type="text" name="phone" class="form-control" id="txt_statu" placeholder="手机号">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <input type="submit"  class="btn btn-default" value="提交">
            </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>登录名</th>
            <th>用户名</th>
            <th>密码</th>
            <th>手机号码</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="user:${userlist}">
        <!--<td><p th:text="${order.orderId}"></p></td>-->
        <td th:text="${user.id}"></td>
        <td th:text="${user.loginName}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.phone}"></td>
    <!--   <td th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
        <td><a  th:onclick="'javascript:edit('+${user.id}+');'" >修改</a></td>
        <!--<td><a th:href="@{/order/queryOrderById(orderId=${order.orderId})}">edit</a></td>-->
        <td><a th:href="@{/user/deleteUserById(id=${user.id})}">删除</a></td>
    </tr>
    </tbody>
</table>
</body>
<script>
    function openAddDialog(){
        $("#myModalLabel").text("新增");
        $('#myModal').modal();
    }
    function edit(id){
        $.ajax({
            url:"/user/findUserById?id="+id,
            type:"post",
            dataType:'json',
            success:function (data) {
                $("input[name='id']").val(data.id);
                $("input[name='loginName']").val(data.loginName);
                $("input[name='name']").val(data.name);
                $("input[name='password']").val(data.password);
                $("input[name='phone']").val(data.phone);
                $("#myModalLabel").text("修改");
                $('#myModal').modal();
            }
        })
    }
</script>
</html>