<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
成功<br>
<span th:text="${name}"></span><br>
<!--总金额：<span th:text="${total_amount}"></span><br>-->
</body>
</html>